// ------------------------------------------------
// Page
//
// All the other pages of the site, without any
// particular layout.
// ------------------------------------------------

.block.block-page {
  @media (min-width: $container-mobile) {
    min-height: 300px;
  }
}

.site-content {
  padding-top: 5rem;

  @include mq("tablet") {
    padding-top: 8rem;
  }
}